@font-face {
  font-family: "Bitcount";
  src: url("../fonts/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf"),
}

@font-face {
  font-family: "Chewy";
  src: url("../fonts/fa-brands-400.woff2");
}

@font-face {
  font-family: "fa-regular";
  src: url("../fonts/fa-regular-400.woff2");
}

@font-face {
  font-family: "fa-solid";
  src: url("../fonts/fa-solid-900.ttf");
}

.icon-facebook::after {
  content: "\f09a";
  font-family: "fa-brands";
}

.fa-twitter::before {
  content: "\f099";
  font-family: "fa-brands";
}

.fa-instagram::before {
  content: "\f16d";
  font-family: "fa-brands";
}

.fa-github::before {
  content: "\f09b";
  font-family: "fa-brands";
}


/* Icon classes */
.icon-apps,
.icon-add_alert,
.icon-archive,
.icon-brush,
.icon-check,
.icon-check_box,
.icon-close,
.icon-close_small,
.icon-delete,
.icon-edit,
.icon-format_color_text,
.icon-headphones,
.icon-image,
.icon-label,
.icon-lightbulb,
.icon-menu,
.icon-more_vert,
.icon-notifications,
.icon-palette,
.icon-person_add,
.icon-pin,
.icon-redo,
.icon-refresh,
.icon-replay,
.icon-restaurant,
.icon-search,
.icon-settings,
.icon-travel,
.icon-view_selection {
  font-family: 'Material Symbols Outlined';
  font-weight:normal;
  font-size: 16px;
  display: inline-block;
}

/* .icon-brush{
  color: red;
} */


/* Still missing icons.:

User-circle icon - needs to be created by me

Alternative "Keep" logo

Create-label button/icon

Select-circle with checkmark (on hover) - need to make my oun
 */