@font-face {
  font-family: "Bitcount";
  src: url("../fonts/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf"),
}

@font-face {
  font-family: "Chewy";
  src: url("../fonts/fa-brands-400.woff2");
}

@font-face {
  font-family: "fa-regular";
  src: url("../fonts/fa-regular-400.woff2");
}

@font-face {
  font-family: "fa-solid";
  src: url("../fonts/fa-solid-900.ttf");
}

.icon-facebook::after {
  content: "\f09a";
  font-family: "fa-brands";
}

.fa-twitter::before {
  content: "\f099";
  font-family:"fa-brands";
}

.fa-instagram::before {
  content: "\f16d";
  font-family: "fa-brands";
}

.fa-github::before {
  content: "\f09b";
  font-family: "fa-brands";
}
.icon-lightbulb::before {
  content: "\f0eb";
  font-family: "fa-regular";
}

.icon-bell::before {
  content: "\f0f3";
  font-family: "fa-regular";
}

.icon-label::before {
  content: "\f02b ";
  font-family: "fa-solid";
}

.icon-pen::before {
  content: "\f304";
  font-family: "fa-solid";
}

.icon-archive::before {
  content: "\f187";
  font-family: "fa-solid";
}

.icon-trash-can::before {
  content: "\f2ed";
  font-family: "fa-regular";
}

.icon-privet::before {
  content: "\f02b";
  font-family: "fa-solid";
}

.icon-square-check::before {
  content: "\f14a";
  font-family: "fa-regular";
}

.icon-paintbrush::before {
  content: "\f1fc";
  font-family: "fa-solid";
}
.icon-image::before {
  content: "\f03e";
  font-family: "fa-solid";
}



Header Component:

User-circle icon - needs to be created by me

Alternative "Keep" logo





Create-label button/icon


Select-circle with checkmark (on hover) - need to make my oun


