.mail-side-bar {
    grid-area: mail-side-bar;
    position: relative;
    display: grid;
    height: 48px;
    height: 100%;
    transition: .5s ease-in;
}

.mail-side-bar .mail-filters-container span {
    display: none;
    opacity: 0;

    white-space: nowrap;
    background-color: transparent;
}

.mail-side-bar .mail-filters-container div {
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;

    &.active .icon {
        border-radius: 50%;
        background-color: var(--clr-gmail-active-btn);
    }

    &.active.long {
        display: block;
        width: 16.6em;
        opacity: 1;
        background-color: var(--clr-gmail-active-btn);
    }

    &.active.long span {
        display: inline;
        opacity: 1;
    }

    &:hover {
        width: 16.6em;
        opacity: 1;
        background-color: var(--clr-gmail-button);
    }

    /* &:hover span {} */

    &:hover.active {
        background-color: var(--clr-gmail-active-btn);
    }
}

.mail-side-bar .mail-filters-container:hover span {
    display: inline;
    opacity: 1;
}

.mail-side-bar .mail-filters-container:has(div.active.long) span {
    display: inline;
    opacity: 1;
}