.mail-details {
    /* display: flex; */
    margin: 1em;
    border: 0.5px solid var(--clr-gmail-shadow-line);
    border-radius: 20px;
    padding: 0 0 0 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.mail-details>* {
    padding-top: 20px;
}

.mail-details .mail-details-subject {
    padding-left: 72px;
    color: var(--clr-gmail-details-base);
    font-size: 1.375rem;
}

.mail-details .mail-data-details {
    display: flex;
    justify-content: space-between;
    padding-left: 72px;

    >.mail-details-from {
        color: var(--clr-gmail-details-base);
        font-size: 0.875rem;
    }

    >.function-btns {
        display: flex;

        >.full-time-details {
            color: var(--clr-gmail-details--2);
            font-size: 0.75rem;
        }

        >.icon-star {
            margin-top: 0;
            padding-top: 0;
            font-size: 1.25rem;
        }
    }
}

.mail-details .mail-details-body {
    font: small / 1.5 Arial, Helvetica, sans-serif;
    color: var(--clr-gmail-details-1);
}

.mail-details-header {
    display: flex;
}

.mail-details-header button {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
}

.mail-details-header .icon-arrow_back {
    margin-right: 28px;
}

.mail-details-header .icon:hover {
    display: block;
}

.mail-details .icon:hover {
    display: block;
}