.mail-index {
    display: grid;
    grid-area: content;
    grid:
       "mail-header     mail-header" 60px
       "mail-folder-list   mail-list" auto
       /minmax(50px, auto) minmax(auto, 1fr);
    padding-inline: 1em;

    background-color: var(--clr-gmail-header-sidebar-bgc);
}