.mail-prev {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    color: var(--clr-gmail-primary-base);
}

.mail-prev.mail-from {
    display: flex;
    width: auto;
    margin-right: 32px;
}

.mail-prev.mail-content {
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, 1fr);
    margin-left: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-prev.mail-content .mail-subject,
.mail-prev.mail-content .mail-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-prev.mail-from p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-prev.mail-date {
    width: max-content;
    padding: 0 16px 0 30px;

    >p {
        width: max-content;
    }
}

.mail-prev.mail-act-btns {
    display: none;
}

.mail-prev .icon-star.starred {
    color: var(--clr-gmail-starred);
}