button {
    position: relative;
    cursor: pointer;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    background-color: transparent;
}

button.hover-show::after {
    content: attr(data-toolbar);

    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px 8px;
    white-space: nowrap;
    pointer-events: none;

    font-size: .6em;
    color: var(--clr-bg-main);

    border-radius: 4px;
    opacity: 0;

    font-family:'Chewy';
    background-color: #474747;
    transition: opacity 0.2s ease-in-out;
}

button:hover {
    font-weight: bold;

    border-radius: 50%;
    background-color: var(--clr-bg-button);
    transition: .3s;
}


button.hover-show:hover::after {
    opacity: 1;
}


input {
    background-color: none
}

input:focus {
    background-color: none;
}

