button {
    position: relative;
    cursor: pointer;
    /* margin: 0.5em; */
    border: 0;
    /* padding: 0.5em 0.8em; */
    border-radius: 4px;
    background-color: transparent;
}

/* button:hover {
    font-weight: bold;
    transition: .5s;
    background-color: var(--clr-bg-button);
} */

button .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    padding: 16px;
    height: 16px;

    border-radius: 50%;
}

.icon:hover {
    display: flex;
    place-content: center;
    
    color: var(--clr-primary-font);
    border-radius: 50%;
    background-color: var(--clr-bg-button);
    
    transition: background-color 0.2s ease;
}

input {
    background-color: none
}

input:focus {
    background-color: none;
}