button {
    position: relative;
    cursor: pointer;
    /* margin: 0.5em; */
    border: 0;
    /* padding: 0.5em 0.8em; */
    border-radius: 4px;
    background-color: transparent;
}

button.hover-show::after {
    content: attr(data);

    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px 8px;
    white-space: nowrap;
    pointer-events: none;

    font-size: .6em;
    color: var(--clr-bg-main);

    border-radius: 4px;
    opacity: 0;

    font-family: 'Chewy';
    background-color: #474747;
    transition: opacity 0.2s ease-in-out;

}

button.hover-show:hover::after {
    opacity: 1;
}
button.hover-show.active:hover::after {
    opacity: 0;
}

/* button:hover {
    font-weight: bold;
    transition: .5s;
    background-color: var(--clr-bg-button);
} */

button .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    padding: 16px;
    height: 16px;

    border-radius: 50%;
}

.icon:hover {
    border-radius: 50%;
    color: var(--clr-primary-font);
    background-color: var(--clr-bg-button);
    transition: background-color 0.2s ease;
}

input {
    background-color: none
}

input:focus {
    background-color: none;
}