.add-note-bar {
    grid-area: add-note-bar;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(auto, 600px);

    min-height: 26px;
    max-width: 37.5em;

    padding: .5em ;
    margin: auto;

    cursor: text;

    overflow-wrap: break-word;

    text-align: left;

}

.add-note-bar .close:hover {
    transition: .5s;
    background-color: var(--clr-bg-button);
}

.add-note-bar:has(.add-note){
    padding: 0;
}