.add-note {
    grid-area: "content";
    position: relative;
    padding: .5em;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.add-note input {
    background-color: inherit;
}

.add-note .icon {
    color: var(--clr-primary-font);
}

.pin-note {
    position: absolute;
    top: 5px;
    right: 5px;
    /* border-radius: 50% !important; */
}

.edit-note-form {
    display: grid;
    place-content: baseline;

    gap: 1em;
    padding: .5em;
}

.text-info {
    display: flex;
    flex-direction: column;

    gap: 1em;
}