.note-list-container {
    grid-area: note-list;

    display: grid;
    grid: 
    ".  h1 ." 20px
    ". list ." 1fr
    / minmax(5px,2em) 1fr minmax(5px, 2em);
    gap: .5em;

}

.note-list {
    grid-area:list;

    columns: 15em;
    break-inside: avoid;
}

.note-list-container h4{
    grid-area: h1;
}

.note-list-container h4 {
    margin: .5em 1em;
    text-align: justify;
}

.note-list>* {
    break-inside: avoid;
}

.no-notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  margin: 2rem auto;
  /* max-width: 600px; */
  /* border: 2px dashed var(--clr-border-light, #ccc); */
  height: 40vh;
  border-radius: 1rem;

  text-align: center;
  color: var(--clr-font-muted, #666);
  background-color: var(--clr-bg-muted, #f9f9f9);
  font-size: 1.2rem;
  font-style: italic;
}
