.note-index {
    grid-area: content;
    display: grid;
    grid:
        "note-header   note-header" 60px 
        "side-bar      add-note-bar" auto
    /*  "side-bar     note-content" auto */
        "side-bar        note-list" auto
         /auto minmax(auto, 1fr);
}

.lists-container{
    padding: 1em;
}