.note-side-bar {
    grid-area: side-bar;
    overflow: visible;
    height: 100vh;
    transition: .5s ease-in;
}

.note-side-bar button {
    font-size: 24px;
}

.filters-container {
    position: sticky;
    top: 120px;
    background: var(--clr-bg-main);
}

.filters-container span {
    position: fixed;
    display: flex;
    place-items: center;

    left: 50px;
    width: fit-content;
    height: 3em;
    opacity: 0;

    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;

    transition: .5s;
}

button:hover {
    background-color: none;
}


.filters-container div {
    position: relative;
    display: flex;
    place-content: baseline;

    width: 50px;
    height: 3em;
    transition: .5s;

    &.active .icon {
        border-radius: 50%;
        background-color: var(--clr-bg-button-active);
    }

    &.active.long {
        width: 16.6em;
        opacity: 1;
        background-color: var(--clr-bg-button-active);
        border-top-right-radius: 2vh;
        border-bottom-right-radius: 2vh;
    }

    &.active.long span {
        display: flex;
        opacity: 1;
        place-items: center;
        width: 14em;

        background-color: var(--clr-bg-button-active);
    }

    &:hover {
        opacity: 1;
        background-color: var(--clr-bg-button);

    }
    &:hover.active {
        opacity: 1;
        background-color: var(--clr-bg-button-active);

    }

    &:hover span {
        display: flex;
        position: fixed;
        left: 50px;
        opacity: 1;
        background-color: var(--clr-bg-button);
        width: 14em;
        transition: 1s;

    }

}

/* 
.selection-container:hover span {
    display: flex;
    position: fixed;
    left: 50px;
    opacity: 1;
    background-color: var(--clr-bg-button);
    transition: 1s;

} */