.note-index {
    grid-area: main-content;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.create-note-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(auto, 600px);

    min-height: 26px;
    max-width: 37.5em;

    padding: .75em 1em;
    margin: 1em auto;

    border-radius: 1vh;

    cursor: text;

    overflow-wrap: break-word;
}


.create-note-container,
.expand-note {
    padding: .2em;
}

.create-note-container.expand-note :first-of-type(button) {
    text-align: justify;
    cursor: text;
    margin-inline-end: auto;
    background-color: aqua;
}