.note-preview {
  display: flex;
  flex-direction: column;
  text-align: justify;

  gap: .5em;

  width: 100%;

  /* padding: .5em; */
  margin-block-end: .5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow-wrap: break-word;

   cursor: pointer;
}

.note-preview .tool-bar {
  opacity: 0;
  margin-inline: auto;
  font-size: .5em;
  transition: opacity .5s;
  width: 100% !important;
}

.note-preview .tool-bar:hover {
  opacity: 1;
}


.note-preview p,h1{
  margin: .5em .5em 0 .5em;
}
/* .modal-enter {
  transform: scale(0.2);
  opacity: 0;
  transform-origin: top center;
} */

.note-dialog {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
  pointer-events: none;
  /* to avoid flickers */
}

.note-dialog.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.note-dialog.exit {
  transform: scale(0.9);
  opacity: 0;
}


.note-preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.25em;
  /* optional */
}