.note-list-container {
    grid-area: note-list;

    display: grid;
    align-items: center;
}

.note-list {
    columns: auto 15em;
    /* column-width: 15em; */
    column-gap: 10px;

    transition: 1s ease-out;
}

.note-list-container h4 {
    margin: .5em 1em;
    text-align: justify;
}