.note-list-container {
    grid-area: note-list;

    display: grid;
    align-items: center;
}

.note-list {
    column-width: 15em;
    column-gap: .3em;

}

.note-list-container h4 {
    margin: .5em 1em;
    text-align: justify;
}