.note-edit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 600px;
    max-height: 70vh;
    
    margin: auto;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.note-edit-container input {
    background: inherit;
}

.note-edit-container textarea {
    padding: .75rem 1rem ;
    width: 90%;

    overflow: hidden;

    resize: none;

    background: inherit;
}

.note-edit-container textarea:focus-visible {
    outline: none;
}

.text-info-container {
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}

.text-info-container::-webkit-scrollbar {
  width: 8px;
}

.text-info-container::-webkit-scrollbar-thumb {
  background:var(--clr-scroll-webkit);
}

.text-info-container::-webkit-scrollbar-track {
  background: transparent;
}


.back-drop {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.note-edit-container .title {
    grid-area: title;
    font-size: 1.25rem;
    text-align: justify;
    padding: 1rem 1rem 0 ;
}


.transparent-drop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0);
}

.add-note-container {
    grid-area: "content";
    position: relative;
    padding: .5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.add-note-container input {
    background-color: inherit;
}

.add-note-container .icon {
    color: var(--clr-primary-font);
}

.pin-note {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 24px;
}