.note-header {
    grid-area: note-header;
    position: sticky;
    top: 60px;
    left: 0;
    margin-bottom: auto;
    display: flex;

    width: 100%;
    border-top: 1px var(--clr-border) solid;
    border-bottom: 1px var(--clr-border) solid;
    background-color: var(--clr-bg-main);
}

.note-header>* {
    display: flex;
    place-items: center;

    gap: .5em;
}

.note-header :first-child {
    margin-inline-end: auto;
}

.user-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    font-weight: bold;
    font-family: Arial, sans-serif;


    text-transform: uppercase;
    color: var(--clr-primary-base);
    border-radius: 50%;
    background-color: #d3e3fd;
}

.keep-logo {
    width: 2.5em;
    height: 2.7em;
}


.cur-filter-at {
    font-size: 1.35em;
}
.cur-filter-at:hover {
text-decoration: underline;
}