.tool-bar {
    grid-area: toolBar;
    width: 100%;
    justify-content: space-between;
    background-color: var(--clr-bg-main);
    
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}


.tool-bar .close {
    padding: 10px;
    border-radius: .5vh;
    margin-inline: 1em;
}

.tool-bar >  button {
    margin: 0;
    padding: 0;
}

