.tool-bar {
    grid-area: toolBar;
    width: 100%;
    justify-content: space-between
}

.tool-bar .close {
    border-radius: .5vh;
    margin-inline: 1em;
}

.tool-bar > button {
    margin: 0;
    padding: 0;
}