.app-header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background: var(--clr-accent-base);
}

.header-nav-bar a {
    margin: .5em;
}
.hide-txt{
    justify-self: center;
    opacity: 0;
}
.header-nav-bar a:hover .hide-txt {
    opacity: 1;
}
.header-nav-bar a.active {
    color: var(--clr-primary-base);
    font-weight: bold;
}
.app-header img{
    width: 50px;
}
.hamburger{
    background-color: var(--clr-primary-1);
}