.app-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--clr-primary-1);
}

.header-nav-bar a {
    margin: .5em;
}

.header-nav-bar a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}