 .home-about-layout {

     gap: 2em;
     text-align: center;


     width: 70%;

     margin: auto;
     margin-block: 3em;

     
 }

 .home p {
     line-height: 2em;
 }

 .home img {
     width: 400px;
     border: 6px var(--clr-secondary--1) double;
     border-radius: 2vh;
     place-self: anchor-center;
 }

 .home {
     font-family: Chewy;
 }