.modal {
    position: fixed;
    inset: 0;
    padding: 5em;


    display: flex;

    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 1em;


    z-index: 1;
}

.edit-modal-container {
    display: flex;
    width: 600px;
    max-height: 70vh;
}

.modal-backdrop {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    inset: 0;
}

